<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>findlove</title>
    <link rel="shortcut icon" href="/img/system/G.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
    <% if(thongtinthem){ %>
        <form action="/findlove/updatethongtinthem" method="post" style="width:30%; margin-left:35%; margin-top:2%;" >
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sinh sống tại</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="diachithuongtru" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sinh ra tại:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="quequan" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Học tập tại:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="truong" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sở thích</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="sothich" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sửa Thông Tin</button>
        </form>
    <% }else{ %>
        <form action="/findlove/addthongtinthem" method="post" style="width:30%; margin-left:35%; margin-top:2%;" >
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sinh sống tại</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="diachithuongtru" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sinh ra tại:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="quequan" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Học tập tại:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="truong" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sở thích</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="sothich" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Thêm Thông Tin</button>
        </form>
    <% } %>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/news.client.js"></script>
    <script src="/js/jquery-ui.js"></script>
</body>

</html>